#custom for VS projects 
*.vsidx
*.lock
*.suo
*.db
*.ipch
*.vs
*.vcxproj*
*.sln
*.recipe
*.ilk
*.log
*.enc
*.idb
*.pdb

# Prerequisites
*.d


# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
